/*GENERELT START*/

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: #EDF8FE;
}

#splash {
    width: 100%;
    text-align: center;
}

main {
    font-family: verdana, sans;
}

h1,
h3,
h2,
h4 {
    font-family: verdana;
}

h1,
h2,
h3,
h4,
p {
    padding-left: 20px;
    padding-right: 20px;
}

.kategorier {
    padding-left: 20px;
    padding-bottom: 20px
}

/*GENERELT SLUT*/







/*EVENTBOKSE/FLEX START*/

main {
    margin: auto;
    max-width: 1024px;
}

article {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 1em;
    margin-top: 1em;
}

article,
img {
    width: 100%;
}

.box {
    flex-grow: 1;
    flex-basis: 500px;
    padding: 1em;
    margin: 1em 0 0;

}

/*EVENTBOKSE/FLEX SLUT*/








/*@MEDIA STARTy*/
/*Desktop/Tablet start*/

@media screen and (min-width: 768px) {

    article {
        display: flex;
        flex-wrap: nowrap;
        background-color: white;
        border-radius: 1em;
        margin-top: 1em;
    }

    .box {
        flex-grow: 1;
        flex-basis: 500px;
    }
}

/*Desktop/Tablet slut*/


/*Mobil start*/
/*

@media screen and (max-width:1150px) {} ved ikke om det skal blive brugt, da alle andre ting virker
*/
/*@MEDIA SLUT*/
