/* BASIC */

body {
    background-color: #EDF8FE;
    font-family: 'Lato', sans-serif;
}



img {
    max-width: 100%;
    max-height: 100%;
}

iframe {
    max-width: 100%;
}


table {
    margin-left: 2em;
}

/*PICTURE*/

#picture {
    border-radius: 50%;

}




/*admin*/

/*
#admin {
    position: relative;
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}


*/

#admin h2 {
    text-align: center;
    margin-top: 50px;
    font-size: 26px;
    color: black;
    line-height: 1.2;
    letter-spacing: 6px;
    position: relative;
    font-weight: 400;

}

#admin p {
    text-align: center;
    font-size: 14px;
    width: 250px;
    margin: 30px auto;
    color: #a4a4a4;
    line-height: 26px;
    letter-spacing: 0;
    position: relative;
    font-weight: 300;

}

#admin_picture {
    width: 100%;
    border: 2px solid black;
}



/*
#admin .1 {
    margin-top: 40px;
    width: 300px;
    float: left;
    margin-bottom: 70px;
    height: 350px;
}

#admin .4,
.7,
.10,
.13,
.16 {
    margin-top: 40px;
    width: 300px;
    float: left;
    margin-bottom: 70px;
    height: 350px;
}

#admin .2,
.5,
.8,
.11,
.14 {
    margin-top: 40px;
    width: 300px;
    float: left;
    margin-bottom: 70px;
    height: 350px;
}


#admin .3 .6 .9 .12,
.15 {
    margin-top: 40px;
    width: 300px;
    float: left;
    margin-bottom: 70px;
    height: 350px;
}
*/

/*DONE*/

/* MENU */

.navbar {
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;

    padding: 20px;
    text-align: center;
    margin-top: 50px;
    font-size: 26px;
    color: black;
    line-height: 1.2;
    font-weight: 400;
}


.navbar a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/*MOBIL NAV*/

@media (min-width: 360px) and (max-width:766px) {}


/*TABLET NAV*/

@media (min-width: 767px) and (max-width: 1023px) {
    .navbar {
        padding-left: 100px;
    }


}

/*PC NAV*/

@media (min-width: 1024px) {
    .navbar {
        padding-left: 260px;
    }



}



/*NAV*/

.dropdown1 {
    float: left;
    overflow: hidden;
}

.dropdown1 .dropbtn_om {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown1:hover .dropbtn_om {}

.dropdown-content-om {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content-om a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content-om a:hover {
    background-color: #ddd;
}

.dropdown1:hover .dropdown-content-om {
    display: block;
}

/*************************************************************************/

.dropdown2 {
    float: left;
    overflow: hidden;
}

.dropdown2 .dropbtn_lokaler {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown2:hover .dropbtn_lokaler {}

.dropdown-content-lokaler {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content-lokaler a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content-lokaler a:hover {
    background-color: #ddd;
}

.dropdown2:hover .dropdown-content-lokaler {
    display: block;
}

/*-------------------------------------------------------------------*/

.dropdown_events {
    float: left;
    overflow: hidden;
}

.dropdown_events .dropbtn_events {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown_events:hover,
dropbtn_events {}

.dropdown-content-events {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content-events a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content-events a:hover {
    background-color: #ddd;
}

.dropdown_events:hover .dropdown-content-events {
    display: block;
}

/******************************/

.dropdown3 {
    float: left;
    overflow: hidden;
}

.dropdown3 .dropbtn_stillinger {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown3:hover .dropbtn_stillinger {}

.dropdown-content-stillinger {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content-stillinger a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content-stillinger a:hover {
    background-color: #ddd;
}

.dropdown3:hover .dropdown-content-stillinger {
    display: block;
}

/**************************************************************/

.dropdown4 {
    float: left;
    overflow: hidden;
}

.dropdown4 .dropbtn_kontakt {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown4:hover .dropbtn_kontakt {}

.dropdown-content-kontakt {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content-kontakt a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content-kontakt a:hover {
    background-color: #ddd;
}

.dropdown4:hover .dropdown-content-kontakt {
    display: block;
}


/*************************************************/

/*
h1,
h3,
h4 {
    padding: 10px;
    text-align: center;
    font-family: verdana, sans-serif
}

/*--------------------------------------------------*/

/*
    {
    box-sizing: border-box;
}
???*/

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;

}







.left {
    left: 0;
}

/*.right {
    left: 50%;
}*/

.right::before {
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}



.content p.tml {
    padding: 20px 30px;
    position: relative;
}

/* Nyhedsbrev */

form {
    border: 4px solid #f1f1f1;
}


.container2 {
    padding: 20px;
    background-color: #f1f1f1;
}


input[type=text],
input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


input[type=checkbox] {
    margin-top: 16px;
}


input[type=submit] {
    color: black;
    border: none;
}

input[type=submit]:hover {
    opacity: 0.8;
}


/* der nok problemer med den..
@media screen and (max-width: 600px) {
    .timeline::after {
        left: 31px;
    }

    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

}

*/
